.blog__wrapper {
  margin-bottom: 130px;
}

.blog__article-list {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-areas:
    "blog__article-item--one blog__article-item--three"
    "blog__article-item--two blog__article-item--three";
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog__article-item {
  display: flex;
  position: relative;
  background-color: #f0eae4;
}

.blog__article-item--one {
  grid-area: "blog__article-item--one";
  grid-row: 1;
  grid-column: 1 / span 6;
}

.blog__article-item--two {
  grid-area: "blog__article-item--two";
  grid-row: 2;
  grid-column: 1 / span 6;
}

.blog__article-item--three {
  grid-area: "blog__article-item--three";
  grid-row: 1 / span 2;
  grid-column: 7 / span 6;
  justify-self: end;
}

.blog__article-image {
  width: 50%;
  align-self: center;
}

.blog__article-image img {
  display: block;
  width: 285px;
  height: 300px;
}

.blog__article-image--bigger {
  width: 100%;
}

.blog__article-image--bigger img {
  width: 570px;
  height: 630px;
}

.blog__article-text {
  width: 50%;
  background-color: #f0eae4;
  padding-top: 65px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog__article-text--bigger {
  padding-top: 95px;
  padding-bottom: 95px;
}

.blog__article-image--bigger + .blog__article-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog__article-date {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9b9997;
  margin-bottom: 20px;
}

.blog__article-title {
  max-width: 165px;
  font-family: $alternative-1-font-family;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $tablet-width-only) {
  .blog__wrapper {
    margin-bottom: 80px;
  }

  .blog__article-list {
    display: block;
  }

  .blog__article-item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .blog__article-item--two img {
    margin-left: auto;
  }

  .blog__article-image img {
    width: 339px;
    height: 300px;
  }

  .blog__article-image--bigger {
    width: 50%;
  }

  .blog__article-image--bigger img {
    width: 339px;
    height: 300px;
  }

  .blog__article-image--bigger + .blog__article-text {
    position: static;
  }

  .blog__article-item--two .blog__article-text {
    order: -1;
  }

  .blog__article-text--bigger {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

@media (max-width: $mobile-width-only) {
  .blog__wrapper {
    margin-bottom: 70px;
  }

  .blog__article-item {
    display: block;
  }

  .blog__article-image {
    width: 100%;
  }

  .blog__article-image img {
    width: 100%;
    height: auto;
  }

  .blog__article-text {
    max-width: 100%;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}
