.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-bottom: 37px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

.card__image img {
  display: block;
  width: 270px;
  height: 272px;
  margin-bottom: 21px;
}

.card__label {
  margin-top: 0;
  margin-bottom: 5px;
}

.card__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-top: auto;
  text-align: center;
}

@media (max-width: 1365px) {
  .card__item {
    margin-right: 15px;
  }
}

@media (max-width: 1210px) {
  .card__item {
    margin-right: 20px;
    max-width: 250px;
  }
}

@media (max-width: 1160px) {
  .card__item {
    max-width: 220px;
  }
}

@media (max-width: 1060px) {
  .card__item {
    max-width: 190px;
  }
}

@media (max-width: $tablet-width-only) {
  .card__item {
    max-width: 206px;
  }

  .card__image img {
    width: 206px;
    height: 208px;
  }
}

@media (max-width: $mobile-width-only) {
  .card__item {
    max-width: 320px;
    margin-right: 30px;
    width: 100%;

    &:nth-child(3n) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .card__image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .card__item {
    max-width: 290px;
  }
}

@media (max-width: 680px) {
  .card__item {
    max-width: 260px;
  }
}

@media (max-width: 620px) {
  .card__item {
    max-width: 230px;
  }
}

@media (max-width: 560px) {
  .card__item {
    max-width: 200px;
  }
}

@media (max-width: 501px) {
  .card__item {
    max-width: 170px;
  }
}

@media (max-width: 400px) {
  .card__item {
    max-width: 130px;
  }
}
