.cart__label {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.cart__wrapper {
  display: flex;
  margin-bottom: 32px;
  margin-left: 35px;
  margin-right: 0;
}

.cart__image {
  margin-top: 10px;
  margin-right: 20px;
}

.cart__image img {
  width: 84px;
  height: 79px;
}

.cart__inner {
  max-width: 270px;
  width: 100%;
  margin-top: 5px;
  margin-right: 44px;
}

.cart__title {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 9px;
}

.cart__price {
  font-size: 18px;
  line-height: 23px;
}

.cart__form-plus button,
.cart__form-minus button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #9b9997;
  cursor: pointer;
  font-size: 24px;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    opacity: 0.7;
  }
}

.cart__form input {
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  border: none;
  width: 33px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    opacity: 0.7;
  }
}

.cart__inner-2 {
  border-top: 1px solid #f6f5f4;
  padding-top: 16px;
  padding-bottom: 45px;
  padding-left: 35px;
  padding-right: 35px;
}

.cart__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.cart__text--subtotal {
  font-weight: 500;
}

.cart__inner-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}

.cart__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart__continue,
.cart__checkout {
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #a87b62;
  max-width: 200px;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.cart__continue {
  color: $base-color;
  transition: translate ease 1s;

  &:hover,
  &:focus {
    background-color: #a87b62;
    color: white;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.cart__checkout {
  color: white;
  background-color: #a87b62;
  transition: translate ease 1s;

  &:hover,
  &:focus {
    background-color: white;
    color: $base-color;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: $tablet-width-only) {
  .cart__wrapper {
    margin-left: 29px;
  }

  .cart__image img {
    width: 88px;
    height: auto;
  }

  .cart__inner {
    margin-right: 50px;
  }

  .cart__form {
    margin-top: 4px;
  }

  .cart__inner-2 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 45px;
  }

  .cart__continue {
    max-width: 206px;
  }

  .cart__checkout {
    max-width: 206px;
  }
}

@media (max-width: $mobile-width-only) {
  .cart__label {
    max-width: 210px;
    margin-top: 39px;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .cart__wrapper {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .cart__inner {
    max-width: 150px;
    width: 100%;
    margin-right: 10px;
  }

  .cart__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 4px;
  }

  .cart__price {
    font-size: 16px;
    line-height: 21px;
  }

  .cart__image {
    flex-shrink: 0;
    margin-right: 15px;
  }

  .cart__image img {
    width: 70px;
    height: 63px;
    margin-right: 0;
  }

  .cart__form {
    margin-left: auto;
    text-align: right;
  }

  .cart__form input {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }

  .cart__inner-2 {
    padding-top: 21px;
    padding-bottom: 55px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cart__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }

  .cart__text--subtotal {
    font-weight: 500;
  }

  .cart__inner-3 {
    margin-bottom: 19px;
  }

  .cart__continue,
  .cart__checkout {
    max-width: 100%;
  }

  .cart__continue {
    margin-bottom: 20px;
  }
}
