// left column
.catalog__wrapper {
  display: flex;
  justify-content: center;
}

.catalog__left {
  max-width: 250px;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 20px;
}

.catalog__form-button {
  display: none;
}

.catalog__form-group {
  list-style: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.catalog__form-group .catalog__form-item {
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 26px;
  padding-left: 25px;
  padding-right: 19px;
  border-top: 1px solid #a87b62;
  border-left: 1px solid #a87b62;
  border-right: 1px solid #a87b62;

  &:last-child {
    border-bottom: 1px solid #a87b62;
  }
}

.catalog__form-group .catalog__form-item--price {
  padding-top: 23px;
  padding-bottom: 16px;
}

.catalog__form-group span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.catalog__form-group ul {
  list-style: none;
  margin-left: 9px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}

.catalog__form-group li {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__form-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }

  &:active svg {
    stroke: rgba(0, 0, 0, 0.7);
  }
}

.catalog__form-link svg {
  width: 25px;
  height: 8px;
  stroke: #a87b62;
  transform: rotate(180deg);
}

.catalog__form-link--opened svg {
  transform: rotate(0deg);
}

.catalog__form-list--hidden {
  display: none;
}

// Price range
ul.catalog__form-list--pice {
  margin-left: 0;
  margin-right: 0;
}

.catalog__form-submit button {
  width: 100%;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #a87b62;
  border: 1px solid #a87b62;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $base-color;
    background-color: white;
  }

  &:active {
    background-color: #a87b62;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.catalog__form-reset button {
  display: block;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #a87b62;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover,
  &:focus {
    color: white;
    background-color: #a87b62;
  }

  &:active {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.catalog__form-close button {
  display: none;
}

// right column
.catalog__right {
  max-width: 870px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__pagination {
  border-top: 1px solid #f6f5f4;
}

@media (max-width: 1365px) {
  .catalog__left {
    margin-right: 25px;
  }
}

@media (max-width: 1311px) {
  .catalog__wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $tablet-width-only) {
  .catalog__wrapper {
    display: block;
    position: relative;
  }

  .catalog__left {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .catalog__form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
  }

  .catalog__form-group .catalog__form-item {
    border-top: 1px solid #a87b62;
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
    }
  }

  .catalog__form-close button {
    display: block;
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover svg,
    &:focus svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.5;
    }
  }

  .closeFilterSvg {
    width: 32px;
    height: 32px;
  }

  .circle {
    fill: $base-color;
  }

  .close {
    fill: white;
  }

  .catalog__form-button {
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    background-color: #a87b62;
    border: 1px solid #a87b62;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $base-color;
      background-color: white;
    }

    &:active {
      background-color: #a87b62;
    }
  }

  .catalog__form--hidden {
    display: none;
  }

  .catalog__right {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .catalog__left {
    margin-bottom: 40px;
  }

  .catalog__pagination {
    border-top: none;
  }

  .catalog__right {
    max-width: 100%;
  }
}
