.ch__wrapper {
  margin-bottom: 130px;
}

.ch__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(24, 1fr);
  grid-template-areas:
    "ch__item--one ch__item--three ch__item--four ch__item--six"
    "ch__item--two ch__item--three ch__item--five ch__item--seven";
  grid-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ch__item--one {
  grid-area: "ch__item--one";
  grid-row: 1 / span 4;
  grid-column: 1 / span 5;
  justify-self: start;
}

.ch__item--two {
  grid-area: "ch__item--two";
  grid-row: 3 / span 2;
  grid-column: 1 / span 5;
  align-self: end;
  justify-self: start;
}

.ch__item--three {
  grid-area: "ch__item--three";
  grid-row: 1 / span 4;
  grid-column: 6 / span 9;
  justify-self: end;
  margin-right: 5px;
}

.ch__item--four {
  grid-area: "ch__item--four";
  grid-row: 1 / span 3;
  grid-column: 15 / span 5;
}

.ch__item--five {
  grid-area: "ch__item--five";
  grid-row: 3 / span 2;
  grid-column: 15 / span 5;
}

.ch__item--six {
  grid-area: "ch__item--six";
  grid-row: 1 / span 3;
  grid-column: 20 / span 5;
  justify-self: end;
}

.ch__item--seven {
  grid-area: "ch__item--seven";
  grid-row: 3 / span 2;
  grid-column: 20 / span 5;
  align-self: end;
  justify-self: end;
}

.ch__item-image img {
  display: block;
}

.ch__item-image--one img {
  width: 230px;
  height: 230px;
}

.ch__item-image--two img {
  width: 230px;
  height: 154px;
}

.ch__item-image--three img {
  width: 400px;
  height: 414px;
}

.ch__item-image--four img {
  width: 232px;
  height: 193px;
}

.ch__item-image--five img {
  width: 218px;
  height: 191px;
}

.ch__item-image--six img {
  width: 218px;
  height: 218px;
}

.ch__item-image--seven img {
  width: 232px;
  height: 166px;
}

@media (max-width: $tablet-width-only) {
  .ch__wrapper {
    margin-bottom: 80px;
  }

  .ch__list {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 18px;
  }

  .ch__item--one {
    grid-column: 1 / span 3;
  }

  .ch__item--two {
    grid-column: 1 / span 3;
  }

  .ch__item--three {
    grid-column: 3 / span 5;
  }

  .ch__item--four {
    grid-column: 8 / span 3;
  }

  .ch__item--five {
    grid-column: 8 / span 3;
  }

  .ch__item--six {
    grid-column: 10 / span 3;
  }

  .ch__item--seven {
    grid-column: 10 / span 3;
  }

  .ch__item-image--one img {
    width: 133px;
    height: 133px;
  }

  .ch__item-image--two img {
    width: 133px;
    height: 89px;
  }

  .ch__item-image--three img {
    width: 231px;
    height: 240px;
  }

  .ch__item-image--four img {
    width: 134px;
    height: 111px;
  }

  .ch__item-image--five img {
    width: 126px;
    height: 111px;
  }

  .ch__item-image--six img {
    width: 126px;
    height: 126px;
  }

  .ch__item-image--seven img {
    width: 134px;
    height: 96px;
  }
}

@media (min-width: 790px) and (max-width: 809px) {
  .ch__item--one {
    justify-self: center;
  }

  .ch__item--two {
    justify-self: center;
  }
}

@media (min-width: 810px) and (max-width: 829px) {
  .ch__item--one {
    justify-self: end;
  }

  .ch__item--two {
    justify-self: end;
  }

  .ch__item--three {
    grid-column: 4 / span 6;
    justify-self: start;
  }

  .ch__item--six {
    margin-left: 15px;
    justify-self: center;
  }

  .ch__item--seven {
    margin-left: 15px;
    justify-self: center;
  }
}

@media (min-width: 830px) and (max-width: 889px) {
  .ch__item--one {
    justify-self: end;
  }

  .ch__item--two {
    justify-self: end;
  }

  .ch__item--three {
    grid-column: 3 / span 6;
    justify-self: center;
    margin-right: 0;
  }

  .ch__item--six {
    margin-left: 25px;
    justify-self: start;
  }

  .ch__item--seven {
    margin-left: 17px;
    justify-self: start;
  }
}

@media (min-width: 890px) and (max-width: 1023px) {
  .ch__item--one {
    justify-self: end;
  }

  .ch__item--two {
    justify-self: end;
  }

  .ch__item--three {
    grid-column: 3 / span 6;
    justify-self: center;
    margin-right: 0;
  }

  .ch__item--six {
    margin-left: 20px;
    justify-self: start;
  }

  .ch__item--seven {
    margin-left: 10px;
    justify-self: start;
  }
}

@media (max-width: $mobile-width-only) {
  .ch__wrapper {
    margin-bottom: 73px;
  }

  .ch__list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "ch__item--one ch__item--three"
      "ch__item--two ch__item--three"
      "ch__item--four ch__item--five";
    grid-gap: 16px;
  }

  .ch__item--one {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    align-self: start;
    justify-self: start;
  }

  .ch__item--two {
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    align-self: start;
    justify-self: start;
    margin-top: 18px;
    margin-bottom: 4px;
  }

  .ch__item--three {
    grid-row: 1 / span 4;
    grid-column: 3 / span 3;
    align-self: start;
    justify-self: end;
    margin-right: 0;
  }

  .ch__item--four {
    grid-row: 4 / span 3;
    grid-column: 3 / span 3;
    justify-self: end;
    align-self: end;
  }

  .ch__item--five {
    grid-row: 4 / span 3;
    grid-column: 1 / span 3;
    justify-self: start;
    align-self: end;
  }

  .ch__item--six,
  .ch__item--seven {
    display: none;
  }

  .ch__item-image--one img {
    width: 130px;
    height: 130px;
  }

  .ch__item-image--two img {
    width: 130px;
    height: 87px;
  }

  .ch__item-image--three img {
    width: 145px;
    height: 226px;
  }

  .ch__item-image--four img {
    width: 145px;
    height: 121px;
  }

  .ch__item-image--five img {
    width: 130px;
    height: 115px;
  }
}

@media (max-width: $mobile-width-only) {
  .ch__item--one {
    justify-self: center;
  }

  .ch__item--two {
    justify-self: center;
  }

  .ch__item--three {
    justify-self: center;
  }

  .ch__item--four {
    justify-self: center;
  }

  .ch__item--five {
    justify-self: center;
  }
}

@media (min-width: 450px) and (max-width: $mobile-width-only) {
  .ch__item--one {
    margin-right: 0;
  }

  .ch__item--two {
    margin-right: 0;
  }

  .ch__item--three {
    margin-left: 0;
  }

  .ch__item--four {
    margin-left: 0;
  }

  .ch__item--five {
    margin-right: 0;
  }
}

@media (min-width: 400px) and (max-width: 449px) {
  .ch__item--one {
    margin-right: 5px;
  }

  .ch__item--two {
    margin-right: 5px;
  }

  .ch__item--three {
    margin-left: 5px;
  }

  .ch__item--four {
    margin-left: 5px;
  }

  .ch__item--five {
    margin-right: 5px;
  }
}

@media (min-width: 390px) and (max-width: 419px) {
  .ch__item--one {
    margin-right: 10px;
  }

  .ch__item--two {
    margin-right: 10px;
  }

  .ch__item--three {
    margin-left: 10px;
  }

  .ch__item--four {
    margin-left: 10px;
  }

  .ch__item--five {
    margin-right: 10px;
  }
}

@media (min-width: 380px) and (max-width: 389px) {
  .ch__item--one {
    margin-right: 15px;
  }

  .ch__item--two {
    margin-right: 15px;
  }

  .ch__item--three {
    margin-left: 15px;
  }

  .ch__item--four {
    margin-left: 15px;
  }

  .ch__item--five {
    margin-right: 15px;
  }
}

@media (min-width: 370px) and (max-width: 379px) {
  .ch__item--one {
    margin-right: 20px;
  }

  .ch__item--two {
    margin-right: 20px;
  }

  .ch__item--three {
    margin-left: 20px;
  }

  .ch__item--four {
    margin-left: 20px;
  }

  .ch__item--five {
    margin-right: 20px;
  }
}

@media (min-width: 350px) and (max-width: 369px) {
  .ch__item--one {
    margin-right: 25px;
  }

  .ch__item--two {
    margin-right: 25px;
  }

  .ch__item--three {
    margin-left: 25px;
  }

  .ch__item--four {
    margin-left: 25px;
  }

  .ch__item--five {
    margin-right: 30px;
  }
}

@media (min-width: 321px) and (max-width: 349px) {
  .ch__item--one {
    margin-right: 35px;
    justify-self: center;
  }

  .ch__item--two {
    margin-right: 35px;
    justify-self: center;
  }

  .ch__item--three {
    margin-left: 30px;
    justify-self: center;
  }

  .ch__item--four {
    margin-left: 30px;
    justify-self: center;
  }

  .ch__item--five {
    justify-self: center;
    margin-right: 35px;
  }
}

@media (max-width: $mobile-width) {
  .ch__wrapper {
    margin-bottom: 73px;
  }

  .ch__list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "ch__item--one ch__item--three"
      "ch__item--two ch__item--three"
      "ch__item--four ch__item--five";
    grid-gap: 16px;
  }

  .ch__item--one {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    align-self: start;
    justify-self: start;
  }

  .ch__item--two {
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    align-self: start;
    justify-self: start;
    margin-top: 18px;
    margin-bottom: 4px;
  }

  .ch__item--three {
    grid-row: 1 / span 4;
    grid-column: 3 / span 3;
    align-self: start;
    justify-self: end;
    margin-right: 0;
  }

  .ch__item--four {
    grid-row: 4 / span 3;
    grid-column: 3 / span 3;
    justify-self: end;
    align-self: end;
  }

  .ch__item--five {
    grid-row: 4 / span 3;
    grid-column: 1 / span 3;
    justify-self: start;
    align-self: end;
  }

  .ch__item--six,
  .ch__item--seven {
    display: none;
  }

  .ch__item-image--one img {
    width: 130px;
    height: 130px;
  }

  .ch__item-image--two img {
    width: 130px;
    height: 87px;
  }

  .ch__item-image--three img {
    width: 145px;
    height: 226px;
  }

  .ch__item-image--four img {
    width: 145px;
    height: 121px;
  }

  .ch__item-image--five img {
    width: 130px;
    height: 115px;
  }
}
