.container {
  max-width: $max-desktop-width;
  margin: 0 auto;
  padding: 0 calc(50% - 683px);
  padding-left: 98px;
  padding-right: 98px;
}

@media (max-width: $tablet-width-only) {
  .container {
    padding: 0 calc(50% - 384px);
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    padding: 0 calc(50% - 160px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
