.faq__wrapper {
  margin-bottom: 110px;
}

.faq__list {
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.faq__item {
  border-top: 1px solid #a87b62;
  border-left: 1px solid #a87b62;
  border-right: 1px solid #a87b62;

  &:last-child {
    border-bottom: 1px solid #a87b62;
  }
}

.faq__arrow-link {
  display: block;
  color: $base-color;
  text-decoration: none;
  padding-top: 42px;
  padding-bottom: 43px;
  padding-left: 43px;
  padding-right: 50px;

  &:hover,
  &:focus {
    color: #a87b62;
    background-color: rgba(29, 22, 19, 0.01);
  }

  &:focus {
    color: rgba(29, 22, 19, 0.7);
  }

  &:hover svg,
  &:focus svg {
    stroke: #a87b62;
  }

  &:focus svg {
    stroke: rgba(29, 22, 19, 0.7);
  }
}

.faq__inner {
  display: flex;
  justify-content: space-between;
}

.faq__inner-2 {
  margin-right: 10px;
}

.faq__question {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.faq__answer {
  max-width: 525px;
  line-height: 21px;
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 6px;
}

.faq__answer--hidden {
  display: none;
}

.faq__arrow svg {
  width: 15px;
  height: 8px;
  stroke: #a87b62;
  transform: rotate(180deg);
}

.faq__arrow-link--opened svg {
  transform: rotate(360deg);
}

@media (max-width: $tablet-width-only) {
  .faq__wrapper {
    margin-bottom: 67px;
  }

  .faq__list {
    margin-left: 0;
    margin-right: 0;
  }

  .faq__arrow-link {
    padding-left: 48px;
  }

  .faq__answer {
    max-width: 530px;
    margin-top: 25px;
    margin-left: 0;
  }

  .faq__arrow svg {
    width: 23px;
    height: 12px;
  }
}

@media (max-width: $mobile-width-only) {
  .faq__wrapper {
    margin-bottom: 52px;
  }

  .faq__arrow-link {
    padding-top: 15px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .faq__question {
    display: block;
    font-size: 16px;
    line-height: 22px;
  }

  .faq__question--material {
    max-width: 185px;
  }

  .faq__question--deliver {
    max-width: 155px;
  }

  .faq__question--pay {
    max-width: 170px;
  }

  .faq__answer {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .faq__arrow svg {
    width: 20px;
    height: 10px;
  }
}
