.image__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, auto);
  grid-gap: 30px;
  grid-template-areas:
    "image__item--two image__item--one"
    "image__item--three image__item--one"
    "image__item--four image__item--one";
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.image__item--one {
  grid-area: "image__item--one";
  grid-row: 1/4;
  grid-column: 2;
}

.image__item--two {
  grid-area: "image__item--two";
}

.image__item--three {
  grid-area: "image__item--three";
}

.image__item--four {
  grid-area: "image__item--four";
}

.image__big img {
  display: block;
  width: 470px;
  height: 435px;
}

.image__small img {
  display: block;
  width: 100px;
  height: 125px;
}

@media (max-width: $tablet-width-only) {
  .image__list {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    grid-template-areas:
      "image__item--one image__item--one image__item--one"
      "image__item--two image__item--three image__item--four";
  }

  .image__item--one {
    grid-row: 1;
    grid-column: 1/4;
  }

  .image__big img {
    width: 100%;
    height: 319px;
  }

  .image__small img {
    width: 100%;
    height: 97px;
  }
}

@media (max-width: $mobile-width-only) {
  .image {
    position: relative;
    overflow: hidden;
  }

  .image__list {
    display: flex;
    transition: transform 0.6s ease;
  }

  .image__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  .image__big img {
    width: 100%;
    height: auto;
  }

  .image__small img {
    width: 100%;
    height: auto;
  }
}
