.link-type1 {
  text-align: center;
}

.link-type1--new-in {
  margin-bottom: 58px;
}

.link-type1--blog {
  max-width: 65px;
  height: 37px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #a87b62;
  line-height: 21px;
}

.link-type1--ch {
  margin-bottom: 64px;
}

.link-type1--like {
  margin-bottom: 63px;
}

.link-type1__label {
  font-weight: 500;
  line-height: 21px;
  color: $base-color;
  text-decoration: none;
  border-bottom: 1px solid #a87b62;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    color: rgba(29, 22, 19, 0.7);
    border-bottom-color: rgba(29, 22, 19, 0.7);
  }
}

.link-type1__label--blog {
  border-bottom: none;
}

.link-type1__label--article {
  padding-bottom: 3px;
}

.link-type1__label--ch {
  padding-bottom: 4px;
}

.link-type1__label--like {
  padding-bottom: 3px;
}

@media (max-width: $tablet-width-only) {
  .link-type1--new-in {
    margin-bottom: 52px;
  }

  .link-type1--blog {
    max-width: 100%;
    height: auto;
    margin-bottom: 63px;

    border-bottom: none;
  }

  .link-type1__label--blog {
    border-bottom: 1px solid #a87b62;
    padding-bottom: 3px;
  }
}

@media (max-width: $mobile-width-only) {
  .link-type1--new-in {
    width: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #a87b62;
    line-height: 20px;
    height: 37px;
  }

  .link-type1--new-in .link-type1__label {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
  }

  .link-type1--like {
    width: 100%;
    border-bottom: none;
    height: auto;
    margin-bottom: 45px;
  }

  .link-type1--like .link-type1__label {
    border-bottom: 1px solid #a87b62;
  }

  .link-type1--blog {
    max-width: 100%;
    border-bottom: none;
    margin-bottom: 53px;
  }

  .link-type1--ch {
    margin-bottom: 50px;
  }

  .link-type1--blog .link-type1__label {
    border-bottom: 1px solid #a87b62;
  }
}
