.login__wrapper {
  padding-top: 190px;
  padding-bottom: 53px;
  padding-left: 45px;
  padding-right: 45px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #f0eae4;
  background-image: url("../img/bg-decoration-desktop@1x.jpeg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-decoration-desktop@2x.jpeg");
  }
}

.login__title {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
}

.login__form-field input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  color: #9b9997;
  border: none;
  border-bottom: 1px solid $base-color;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    opacity: 0.7;
  }

  &:first-child {
    margin-bottom: 30px;
  }
}

.login__form-field-email {
  margin-bottom: 25px;
}

.login__form-forgot-pwd {
  text-align: right;
  margin-bottom: 43px;
}

.login__form-forgot-pwd a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  text-decoration: none;
  color: #9b9997;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.7);
  }
}

.login__form-submit button {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #a87b62;
  border: 1px solid #a87b62;
  margin-bottom: 15px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.login__form-sign-up {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  text-align: center;
}

.login__form-sign-up span {
  margin-right: 5px;
}

.login__form-sign-up a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: $tablet-width-only) {
  .login__wrapper {
    background-size: 430px 138px;
    padding-top: 188px;
    padding-bottom: 54px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .login__wrapper .modal__close {
    top: 20px;
    right: 14px;
  }

  .login__title {
    margin-bottom: 23px;
  }

  .login__form {
    padding-left: 6px;
    padding-right: 6px;
  }

  .login__form-field-email {
    margin-bottom: 25px;
  }

  .login__form-forgot-pwd {
    margin-bottom: 43px;
  }
}


@media (max-width: $mobile-width-only) {
  .login__wrapper {
    background-size: 270px 84px;
    padding-top: 121px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .login__wrapper .modal__close {
    top: 16px;
    right: 15px;
  }

  .login__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 17px;
  }

  .login__form {
    padding-left: 5px;
    padding-right: 5px;
  }

  .login__form-field-email {
    margin-bottom: 20px;
  }

  .login__form-forgot-pwd {
    margin-bottom: 33px;
  }
}
