.main-menu-toggle {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .main-menu-toggle {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:hover .main-menu-toggle__svg-icon,
    &:focus .main-menu-toggle__svg-icon {
      stroke: #a87b62;
    }

    &:active .main-menu-toggle__svg-icon {
      stroke: rgba(0, 0, 0, 0.7);
    }
  }

  .main-menu-toggle__svg-icon {
    width: 25px;
    height: 16px;
    stroke: $base-color;
  }
}
