.main-nav__list {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #f6f5f4;
  border-bottom: 1px solid #f6f5f4;
  transform: translateX(22px);
}

.main-nav__item {
  margin-right: 35px;
}

.main-nav__link {
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: $base-color;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: $tablet-width-only) {
  .main-nav--opened .search {
    display: block;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--opened .about-us__list {
    display: block;
  }

  .main-nav--opened .user-menu__list {
    display: block;
  }

  .main-nav__list {
    display: none;
    padding-left: 0;
    padding-right: 0;
    transform: translateX(0);
    margin-bottom: 22px;
  }

  .main-nav__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-nav__link {
    font-size: 24px;
    line-height: 36px;
    color: white;

    &:hover,
    &:focus {
      color: $base-color;
    }

    &:active {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    display: none;
  }
}
