// cart modal
.modal--open {
  height: 100vh;
  overflow: hidden;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(1.1) scaleY(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  background-color: rgba(29, 22, 19, 0.25);
}

.modal--show {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1) scaleY(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  z-index: 30;
}

.modal--filter {
  background-color: white;
  opacity: 1;
  visibility: visible;
  position: static;
  transform: none;
}

.modal__content {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
}

.modal__content--login {
  max-width: 430px;
  margin-top: 100px;
}

.modal__content--cart {
  margin-top: auto;
}

.modal__content--filter {
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  box-shadow: none;
}

// modal close button
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    fill: #a87b62;
  }

  &:active svg {
    fill: rgba(0, 0, 0, 0.7);
  }
}

.modal__close svg {
  width: 14px;
  height: 14px;
}

@media (max-width: $tablet-width-only) {
  .modal--open .page-header {
    overflow-y: scroll;
  }

  .modal--filter {
    overflow-y: scroll;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transform: scaleX(1.1) scaleY(1.1);
  }

  .modal--filter-no-js {
    overflow-y: auto;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    position: static;
    transform: none;
  }

  .modal__content--login {
    max-width: 430px;
    margin-top: 80px;
  }

  .modal__content--cart {
    margin-top: 258px;
  }

  .modal__content--filter {
    margin-top: 27px;
    margin-left: 0;
    box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  }

  .modal__content--filter-no-js {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__content--login svg {
    width: 20px;
    height: 20px;
  }

  .modal--show {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1) scaleY(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 30;
  }
}

@media (max-width: $mobile-width-only) {
  .modal--cart {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal__content--login {
    max-width: 270px;
    margin-top: 49px;
  }

  .modal__content--login svg {
    width: 14px;
    height: 14px;
  }

  .modal__content--cart {
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__content--cart .modal__close {
    top: 15px;
    right: 15px;
  }

  .modal__content--filter {
    max-width: 100%;
    margin-top: 76px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
