.page-footer {
  color: white;
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__left {
  margin-right: 97px;
}

.page-footer__title {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 25px;
}

.page-footer__description {
  line-height: 21px;
  color: #9b9997;
  margin-top: 0;
  margin-bottom: 52px;
}

.page-footer__right {
  display: flex;
}

.page-footer__list-1,
.page-footer__list-2,
.page-footer__list-3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__list-1,
.page-footer__list-2 {
  margin-right: 80px;
}

.page-footer__item-1 {
  margin-bottom: 20px;
}

.page-footer__link-1 {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: #9b9997;
  }
}

.page-footer__item-2 {
  margin-bottom: 20px;
}

.page-footer__link-2 {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: #9b9997;
  }
}

@media (max-width: $tablet-width-only) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__wrapper {
    display: block;
  }

  .page-footer__left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer {

  }
}
