.page-hero {
  display: flex;
  flex-direction: column;
  min-height: 463px;
  margin-bottom: 120px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #614233;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/bg-hero-desktop-index@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-hero-desktop-index@2x.jpg");
  }
}

.page-hero--catalog {
  min-height: 261px;
  margin-bottom: 80px;

  background-image: url("../img/bg-hero-desktop-catalog@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-hero-desktop-catalog@2x.jpg");
  }
}

.page-hero__slogan {
  font-family: $alternative-1-font-family;
  font-style: italic;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}

.page-hero__slogan--catalog {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: $tablet-width-only) {
  .page-hero {
    margin-bottom: 70px;
    background-image: url("../img/bg-hero-tablet-index@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-tablet-index@2x.jpg");
    }
  }

  .page-hero--catalog {
    background-image: url("../img/bg-hero-tablet-catalog@1x.jpg");
    margin-bottom: 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-tablet-catalog@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-hero {
    margin-bottom: 40px;
    background-image: url("../img/bg-hero-mobile-index@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-mobile-index@2x.jpg");
    }
  }

  .page-hero--catalog {
    background-image: url("../img/bg-hero-mobile-catalog@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-mobile-catalog@2x.jpg");
    }
  }

  .page-hero__slogan {
    font-size: 27px;
  }

  .page-hero__slogan--catalog {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
    margin-right: 0;
  }
}
