.page-footer {
  color: white;
  background-color: black;
  padding-top: 90px;
  padding-bottom: 100px;
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__left {
  max-width: 502px;
  width: 100%;
  margin-right: 89px;
}

.page-footer__title {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.8px;
  margin-top: 0;
  margin-bottom: 9px;
}

.page-footer__description {
  line-height: 21px;
  color: #9b9997;
  margin-top: 0;
  margin-bottom: 37px;
}

.page-footer__right {
  display: flex;
  padding-top: 4px;
}

.page-footer__list-1,
.page-footer__list-2,
.page-footer__list-3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__list-1 {
  margin-right: 80px;
}

.page-footer__list-2 {
  margin-right: 97px;
}

.page-footer__list-3 {
  padding-top: 3px;
}

.page-footer__item-1 {
  margin-bottom: 17px;
}

.page-footer__link-1 {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: #9b9997;
  }
}

.page-footer__item-2 {
  margin-bottom: 17px;
}

.page-footer__link-2 {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: #9b9997;
  }
}

@media (max-width: $tablet-width-only) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 37px;
  }

  .page-footer__wrapper {
    display: block;
  }

  .page-footer__left {
    max-width: 560px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .page-footer__list-1 {
    margin-right: 85px;
  }

  .page-footer__list-2 {
    margin-right: 87px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer {
    padding-bottom: 50px;
  }

  .page-footer__title {
    max-width: 220px;
    margin-bottom: 14px;
  }

  .page-footer__description {
    max-width: 230px;
    margin-bottom: 35px;
  }

  .page-footer__right {
    display: block;
  }

  .page-footer__list-1 {
    margin-right: 0;
    margin-bottom: 37px;
  }

  .page-footer__list-2 {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
