.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 71px;
  padding-left: 29.5%;
}

.pagination__link {
  font-weight: 500;
  line-height: 21px;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

.pagination__list {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 32px;
  padding: 0;
}

.pagination__item {
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__page {
  font-weight: 500;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

.pagination__page--current {
  color: $base-color;
}

@media (max-width: 1300px) {
  .pagination__wrapper {
    padding-left: 28%;
    padding-right: 7%;
  }
}

@media (max-width: 1280px) {
  .pagination__wrapper {
    padding-right: 6%;
  }
}

@media (max-width: 1230px) {
  .pagination__wrapper {
    padding-left: 27%;
    padding-right: 5%;
  }
}

@media (max-width: $tablet-width-only) {
  .pagination__wrapper {
    padding-top: 34px;
    padding-bottom: 72px;
    padding-left: 45px;
  }
}

@media (max-width: $mobile-width-only) {
  .pagination__wrapper {
    justify-content: center;
    padding-left: 15px;
  }

  .pagination__link {
    display: none;
  }
}
