.product__wrapper {
  display: flex;
  margin-top: 80px;
  margin-bottom: 130px;
}

.product__image {
  max-width: 600px;
  margin-right: 100px;
}

.product__text {
  max-width: 370px;
  width: 100%;
}

.product__title {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 30px;
}

.product__price {
  display: block;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 50px;
}

.product__link-wrapper {
  margin-bottom: 40px;
}

.product__link {
  font-weight: 500;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

.product__link--current {
  color: $base-color;
}

.product__ch-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #1d1613;
  margin-bottom: 50px;
}

.product__ch-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f5f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.product__ch-field {
  font-weight: 500;
}

.product__add-cart {
  display: block;
  width: 100%;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #a87b62;
  border: 1px solid #a87b62;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-color;
    background-color: white;
  }

  &:active {
    background-color: #a87b62;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.product__conditions {
  display: flex;
  justify-content: space-between;
}

.product__condition {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9b9997;
}

@media (max-width: 1270px) {
  .product__image {
    margin-right: 50px;
  }

  .product__text {
    max-width: 340px;
  }
}

@media (max-width: 1200px) {
  .product__image {
    margin-right: 30px;
  }

  .product__text {
    max-width: 310px;
  }
}

@media (max-width: $tablet-width-only) {
  .product__wrapper {
    justify-content: center;
  }

  .product__image {
    width: 50%;
    margin-right: 40px;
  }

  .product__text {
    max-width: 100%;
    width: 50%;
    margin-right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .product__wrapper {
    display: block;
    margin-top: 0;
  }

  .product__image {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .product__text {
    width: 100%;
  }

  .product__condition {
    text-align: center;
  }
}
