.range-filter__controls {
  position: relative;
  margin-bottom: 15px;
}

.range-filter__scale {
  height: 1px;
  background-color: #f0eae4;
}

.range-filter__bar {
  width: 47%;
  height: 1px;
  background-color: #a87b62;
}

.range-filter__toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #a87b62;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #009ebc;
  }

  &:active {
    box-shadow: 0 2px 2px 0 #cfcfcf;
  }
}

.range-filter__toggle-min {
  left: -4px;
}

.range-filter__toggle-max {
  left: 85px;
}

.range-filter__price-controls {
  font-size: 0;
}

.range-filter__price-controls label,
.range-filter__price-controls input {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.range-filter__price-controls input {
  width: 37px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}
