.search__form {
  display: flex;
  align-items: flex-end;
}

.search__form label {
  width: 100%;
}

.search__form input {
  max-width: 140px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    color: #a87b62;
  }

  &:active {
    color: #a87b62;
  }
}

.search__form button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  order: -1;
  margin-right: 15px;

  &:hover svg,
  &:focus svg {
    fill: #a87b62;
  }

  &:active svg {
    fill: rgba(0, 0, 0, 0.7);
  }
}

.search__form svg {
  width: 14px;
  height: 14px;
}

@media (max-width: $tablet-width-only) {
  .search {
    display: none;
    width: 100%;
  }

  .search__form {
    max-width: 100%;
    width: 100%;
    padding-top: 7px;
    padding-left: 12px;
  }

  .search__form input {
    max-width: 100%;
    width: 100%;
  }
}
