.social__item {
  margin-bottom: 20px;
}

.social__link {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  line-height: 21px;
  color: white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #a87b62;
    text-decoration: underline;
  }

  &:active {
    color: #9b9997;
  }

  &:hover svg,
  &:focus svg {
    fill: #a87b62;
  }

  &:active svg {
    fill: #9b9997;
  }
}

.social__link svg {
  order: -1;
  margin-right: 15px;
  fill: white;
}

.social__item--fb {
  padding-left: 5px;
}

.social__item--fb svg {
  margin-right: 19px;
}

.social__label--fb + svg {
  width: 8px;
  height: 15px;
}

.social__label--instagram + svg {
  width: 15px;
  height: 15px;
}

.social__label--pinterest + svg {
  width: 15px;
  height: 15px;
}

.social__label--twitter + svg {
  width: 15px;
  height: 13px;
}

@media (max-width: $mobile-width-only) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
  }

  .social__item {
    margin-bottom: 0;
  }

  .social__item--fb {
    padding-left: 0;
  }

  .social__link svg {
    margin-right: 30px;
  }

  .social__label {
    font-size: 0;
  }

  .social__label--fb + svg {
    width: 12px;
    height: 21px;
  }

  .social__label--instagram + svg {
    width: 20px;
    height: 21px;
  }

  .social__label--pinterest + svg {
    width: 20px;
    height: 21px;
  }

  .social__label--twitter + svg {
    width: 20px;
    height: 18px;
  }
}
