.title-h2 {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: $base-color;
  margin-top: 0;
  margin-bottom: 35px;
}

.title-h2--new {
  margin-bottom: 22px;
}

.title-h2--blog {
  margin-bottom: 4px;
}

.title-h2--faq {
  letter-spacing: 1.01px;
  margin-bottom: 48px;
}

.title-h2--catalog {
  margin-top: 92px;
  margin-bottom: 2px;
  color: white;
  text-transform: uppercase;
}

.title-h2--hero {
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: white;
  margin-top: 180px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.title-h2--ch {
  margin-bottom: 13px;
  letter-spacing: 1.02px;
}

.title-h2__prefix {
  font-family: $alternative-1-font-family;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 1.25px;
}

.title-h2--like {
  margin-bottom: 17px;
}

@media (max-width: $tablet-width-only) {
  .title-h2--new {
    margin-bottom: 18px;
  }

  .title-h2--blog {
    margin-bottom: 17px;
  }

  .title-h2--hero {
    letter-spacing: 1.3px;
    margin-top: 182px;
    margin-right: 18px;
  }

  .title-h2--faq {
    margin-bottom: 48px;
  }
}

@media (max-width: $mobile-width-only) {
  .title-h2--hero {
    font-size: 38px;
    line-height: 49px;
  }

  .title-h2--faq {
    margin-bottom: 40px;
  }
}
