// base font styles
$base-font-family: "Poppins", "Arial", sans-serif;
$alternative-1-font-family: "Cormorant Garamond", "Georgia", serif;
$base-color: #1d1613;

// breakpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
$tablet-width-only: 1023px;
$max-desktop-width: 1366px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
